$layout-desktop: 480px;
body {
  background-color: rgba(255, 244, 232, 1);
  color: rgba(4, 22, 45, 1);
  font-family: "Tienne", serif;
  font-size: 18px;
  width: 100vw;
  margin: 0;
  padding: 0;

  h1,
  h2,
  h3 {
    font-family: "Pacifico", cursive;
  }
}

.mainPage {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 24px 80px 24px;

  @media (min-width: $layout-desktop) {
    align-items: center;
    margin: 0 0 80px 0;
    gap: 96px;
  }

  a {
    font-size: 16px;
    color: rgba(4, 22, 45, 1);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:active {
      font-weight: bold;
      text-decoration: none;
    }
  }

  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
    h1 {
      text-align: center;
      font-size: 40px;
      @media (min-width: $layout-desktop) {
        font-size: 48px;
        margin: 0;
      }
    }
    strong {
      font-size: 18px;
      text-align: center;
    }
    img {
      width: 80px;
      mix-blend-mode: multiply;
    }
    @media (min-width: $layout-desktop) {
      max-width: 630px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 80px;
    @media (min-width: $layout-desktop) {
      gap: 96px;
    }
    h2 {
      font-size: 28px;
      @media (min-width: $layout-desktop) {
        font-size: 32px;
      }
    }
    .styleText {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    a {
      text-decoration: underline;
    }
    @media (min-width: $layout-desktop) {
      max-width: 630px;
    }
  }
  .osa {
    button {
      width: 100%;
      font-family: "Tienne", serif;
      font-size: 16px;
      padding: 12px 0;
      border-radius: 40px;
      background-color: rgba(4, 22, 45, 1);
      border: none;
      color: rgba(255, 244, 232, 1);

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
          rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }
      @media (min-width: $layout-desktop) {
        width: 100px;
      }
    }
  }
  .questions {
    h3 {
      font-size: 28px;
      margin-bottom: 0;
    }
    ul {
      margin: 32px 0;
      padding: 0;
      list-style: none;

      display: flex;
      flex-direction: column;
      gap: 32px;

      div {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .fa-arrow-right-long {
          padding: 8px;
        }
      }
      .timeLeft {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
    @media (min-width: $layout-desktop) {
      max-width: 630px;
    }
  }
  .alfons {
    display: flex;
    justify-content: center;
    img {
      width: 180px;
      mix-blend-mode: multiply;
    }
  }
}
