h1 {
  text-align: center;
  font-size: 40px;
  margin: 40px 0;
  @media (min-width: $layout-desktop) {
    font-size: 48px;
    margin: 90px 0;
  }
}
.mainPage {
  h3 {
    font-size: 28px;
    @media (min-width: $layout-desktop) {
      font-size: 32px;
    }
  }
  .infoTravel {
    display: flex;
    flex-direction: column;
    gap: 80px;
    @media (min-width: $layout-desktop) {
      gap: 96px;
    }
    h2 {
      font-size: 28px;
      margin: 0;
      @media (min-width: $layout-desktop) {
        font-size: 32px;
      }
    }

    .travel {
      > div {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .guide {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }

        @media (min-width: $layout-desktop) {
          flex-direction: row;
          gap: 27px;
        }
      }

      .map {
        span {
          font-size: 16px;
        }
      }
    }

    .living,
    .travel,
    .friday {
      display: flex;
      flex-direction: column;
      gap: 40px;

      a {
        color: rgba(4, 22, 45, 1);
        &:active {
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
    @media (min-width: $layout-desktop) {
      max-width: 630px;
    }
  }
}
