@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Tienne:wght@400;700;900&display=swap");
body {
  background-color: rgb(255, 244, 232);
  color: rgb(4, 22, 45);
  font-family: "Tienne", serif;
  font-size: 18px;
  width: 100vw;
  margin: 0;
  padding: 0;
}
body h1,
body h2,
body h3 {
  font-family: "Pacifico", cursive;
}

.mainPage {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 24px 80px 24px;
}
@media (min-width: 480px) {
  .mainPage {
    align-items: center;
    margin: 0 0 80px 0;
    gap: 96px;
  }
}
.mainPage a {
  font-size: 16px;
  color: rgb(4, 22, 45);
  text-decoration: none;
}
.mainPage a:hover {
  text-decoration: underline;
}
.mainPage a:active {
  font-weight: bold;
  text-decoration: none;
}
.mainPage .welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 40px;
}
.mainPage .welcome h1 {
  text-align: center;
  font-size: 40px;
}
@media (min-width: 480px) {
  .mainPage .welcome h1 {
    font-size: 48px;
    margin: 0;
  }
}
.mainPage .welcome strong {
  font-size: 18px;
  text-align: center;
}
.mainPage .welcome img {
  width: 80px;
  mix-blend-mode: multiply;
}
@media (min-width: 480px) {
  .mainPage .welcome {
    max-width: 630px;
  }
}
.mainPage .info {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
@media (min-width: 480px) {
  .mainPage .info {
    gap: 96px;
  }
}
.mainPage .info h2 {
  font-size: 28px;
}
@media (min-width: 480px) {
  .mainPage .info h2 {
    font-size: 32px;
  }
}
.mainPage .info .styleText {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mainPage .info a {
  text-decoration: underline;
}
@media (min-width: 480px) {
  .mainPage .info {
    max-width: 630px;
  }
}
.mainPage .osa button {
  width: 100%;
  font-family: "Tienne", serif;
  font-size: 16px;
  padding: 12px 0;
  border-radius: 40px;
  background-color: rgb(4, 22, 45);
  border: none;
  color: rgb(255, 244, 232);
}
.mainPage .osa button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
@media (min-width: 480px) {
  .mainPage .osa button {
    width: 100px;
  }
}
.mainPage .questions h3 {
  font-size: 28px;
  margin-bottom: 0;
}
.mainPage .questions ul {
  margin: 32px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mainPage .questions ul div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mainPage .questions ul div .fa-arrow-right-long {
  padding: 8px;
}
.mainPage .questions ul .timeLeft {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (min-width: 480px) {
  .mainPage .questions {
    max-width: 630px;
  }
}
.mainPage .alfons {
  display: flex;
  justify-content: center;
}
.mainPage .alfons img {
  width: 180px;
  mix-blend-mode: multiply;
}

header {
  background-color: rgb(4, 22, 45);
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header span {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: rgb(255, 244, 232);
  margin-top: 8px;
}
header nav {
  background-color: rgb(4, 22, 45);
  width: 100vw;
  padding: 8px 0;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
header nav ul a {
  padding: 10px 5px;
  color: rgb(255, 244, 232);
  text-decoration: none;
  font-size: 16px;
}
header nav ul a:hover {
  text-decoration: underline;
}
header nav ul a:active {
  font-weight: bold;
}

.iframe {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 40px 0;
}
@media (min-width: 480px) {
  h1 {
    font-size: 48px;
    margin: 90px 0;
  }
}

.mainPage h3 {
  font-size: 28px;
}
@media (min-width: 480px) {
  .mainPage h3 {
    font-size: 32px;
  }
}
.mainPage .infoTravel {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
@media (min-width: 480px) {
  .mainPage .infoTravel {
    gap: 96px;
  }
}
.mainPage .infoTravel h2 {
  font-size: 28px;
  margin: 0;
}
@media (min-width: 480px) {
  .mainPage .infoTravel h2 {
    font-size: 32px;
  }
}
.mainPage .infoTravel .travel > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mainPage .infoTravel .travel > div .guide {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 480px) {
  .mainPage .infoTravel .travel > div {
    flex-direction: row;
    gap: 27px;
  }
}
.mainPage .infoTravel .travel .map span {
  font-size: 16px;
}
.mainPage .infoTravel .living,
.mainPage .infoTravel .travel,
.mainPage .infoTravel .friday {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mainPage .infoTravel .living a,
.mainPage .infoTravel .travel a,
.mainPage .infoTravel .friday a {
  color: rgb(4, 22, 45);
}
.mainPage .infoTravel .living a:active,
.mainPage .infoTravel .travel a:active,
.mainPage .infoTravel .friday a:active {
  font-weight: bold;
  text-decoration: none;
}
@media (min-width: 480px) {
  .mainPage .infoTravel {
    max-width: 630px;
  }
}

.hidden {
  display: none;
}

.picture-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.2)), url("./images/mainPage.JPG");
  height: 80vh;
}
@media (min-width: 480px) {
  .picture-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.2)), url("./images/mainBig.JPG");
  }
}

.picture-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.2)), url("./images/heestrand.png");
  height: 80vh;
}

.picture-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.2)), url("./images/osaPage.JPG");
  height: 90vh;
}
@media (min-width: 480px) {
  .picture-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.2)), url("./images/osaBig.png");
  }
}/*# sourceMappingURL=styles.css.map */