header {
  background-color: #0c0b3b;
  height: 100px;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  strong {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    color: #e1d1d4;
    margin-left: 4px;
  }

  ul {
    list-style: none;
    margin-right: 4px;
    margin-bottom: 0;
    padding: 0;

    display: flex;
    gap: 8px;
    a {
      color: #e1d1d4;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.picture-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../images/mainPage.JPG");
  height: 400px;
}

.picture-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../images/IMG_3668.JPG");
  height: 400px;
}

.picture-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../images/IMG_1920.JPG");
  height: 400px;
}
